@media screen and (min-width:768px) {

    .bannerSection{
        width: 100%;
        height: 658px;
    }
    .bannerSection .mainImage{
        height: 100%;

    }
    .bannerSection h3{
        top: 41px;
        left: 41px;
    }
    .bannerSection h2{
        width: 441px;
        position: absolute;
        top: 85px;
        left: 24px;
    }
    .nccn{
        position: absolute;
        top: 235px;
        left: 40px;
        margin: 0px;
        width: 336px;
        height: 175px;
        
    }
    .nccn p{
        font-size: 16px;
        line-height: 22.4px;
    }
    .bannerSection .text{
        width:692px ;
        height: 189px;
        position: absolute;
        bottom: 16px;
        left: 36px;
        margin: 0 0px 14px 0px;
    }
    .bannerSection.text{
        font-size: 12px;
        line-height: 16.8px;
        font-weight: 400;
    }
    .blockade{
        align-items: center;
    }
    .her2{
        width: 600px;
    }
    .her2 .one{
        width: 200px;
        top: 60px;
        left: 80px;
    }
    .her2 img{
        left: 260px;
    top: 15px;
    }
    .her2 .two{
        width: 200px;
        top:130px;
        left: 340px;
    }
}